body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: black;
    height: 50px;
    background-color: #fff;
}

header .logo img {
    width: 50px;
}

header nav.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

header nav.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav.menu ul li {
    margin: 0 15px;
}

header nav.menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
}

header nav.menu ul li a.active,
header nav.menu ul li a:hover {
    color: #FFD700;
}

header .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

header .menu-toggle span {
    background-color: black;
    margin: 3px 0;
    width: 25px;
    height: 3px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

main .intro {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
}

main .intro .content {
    width: 45%;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
}

main .intro .quote {
    width: 100%;
}

main .intro .quote p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

main .intro .quote a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
}

main .intro .image {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

main .intro .image img {
    width: 80%;
    border-radius: 50%;
}

.amarelo{
    color: #FFD700;
}

footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    padding: 10px 20px;
    text-align: center;
    height: 50px;
    background-color: #f9f9f9;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: auto;
    box-sizing: border-box;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a img {
    width: 40px;
}

@media (max-width: 768px) {
    header nav.menu {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%; 
    }

    header nav.menu.active {
        display: flex;
    }

    header nav.menu ul {
        flex-direction: column;
    }

    header nav.menu ul li {
        margin: 10px 0;
    }

    header .menu-toggle {
        display: flex;
    }

    footer {
        justify-content: center;
    }

    main .intro {
        flex-direction: column;
        text-align: center;
        padding: 0 20px;
        box-sizing: border-box; 
    }

    main .intro .content {
        width: 100%;
        padding: 10px;
        text-align: center;
        box-sizing: border-box; 
    }

    main .intro .image {
        width: 100%;
        margin-top: 20px;
        padding: 0 20px; 
        box-sizing: border-box;
    }

    main .intro .image img {
        width: 100%;
    }
}
